:root {
    --primary-color: #0099ff;
    --secondary-color: #b3e6ff;
    --text-color: #ffffff;
    --footer-text-color: #000;
    --hover-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    --hover-text-color: #D80F12;
}

body {
    background-color: var(--secondary-color);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 80px;
}

.box1, .box {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.box:hover {
    transform: translateY(-5px);
}

.section-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.box a {
    color: var(--text-color);
    text-decoration: none;
}

.box a:hover {
    color: var(--hover-text-color);
    text-decoration: none;
}

.line-divider {
    width: 2px;
    background-color: var(--primary-color);
    height: 100%;
}

footer {
    background-color: var(--primary-color);
    color: var(--footer-text-color);
    width: 100%;
    text-align: center;
}

.list-inline-item a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s;
}

.list-inline-item a:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .box1 {
        padding: 30px;
    }
    .section-title {
        font-size: 1.4rem;
    }
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: var(--hover-shadow);
}
